apiVersion: apps/v1
kind: Deployment
metadata:
  name: axon-demo-accounts
spec:
  replicas: 1
  selector:
    matchLabels:
      app: axon-demo-accounts
  template:
    metadata:
      labels:
        app: axon-demo-accounts
    spec:
      terminationGracePeriodSeconds: 0
      containers:
      - name: accounts-api
        image: okteto.dev/axon-demo-accounts:latest
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 250m
            memory: "384Mi"
          limits:
            cpu: "500m"
            memory: "1024Mi"
        ports:
          - name: http
            containerPort: 8080
          - name: ws
            containerPort: 7000

---
apiVersion: v1
kind: Service
metadata:
  name: axon-demo-accounts
  annotations:
    dev.okteto.com/auto-ingress: "true"
  labels:
    app: axon-demo-accounts
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
    - name: ws
      port: 7000
      protocol: TCP
      targetPort: 7000
    - name: debug
      port: 5005
      protocol: TCP
      targetPort: 5005
  selector:
    app: axon-demo-accounts