<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">

<script th:fragment="accounts-overview-tmpl" id="accounts-overview-tmpl" type="text/x-handlebars-template">
    <table id="accounts" class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {{#accounts}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{email}}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-success btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#/accounts/{{id}}"><i class="fas fa-id-card"></i> Details</a>
                            <a class="dropdown-item delete-account" href="#" data-id="{{id}}"><i class="fas fa-trash-alt"></i> Remove</a>
                            <a class="dropdown-item change-name" href="#" data-id="{{id}}" data-content='{"firstName" : "{{firstName}}", "lastName" : "{{lastName}}"}'><i class="fas fa-file-signature"></i> Change name</a>
                        </div>
                    </div>
                </td>
            </tr>
            {{/accounts}}
        </tbody>
    </table>
    <button class="btn btn-primary" id="add-account">Add Account</button>
</script>


<script th:fragment="accounts-form-tmpl" id="accounts-form-tmpl" type="text/x-handlebars-template">
    <form>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" name="firstName">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" name="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>
    </form>
</script>

<script th:fragment="accounts-change-name-tmpl" id="accounts-change-name-tmpl" type="text/x-handlebars-template">
    <form>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" name="firstName" value="{{account.firstName}}">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" name="lastName" value="{{account.lastName}}">
        </div>
    </form>
</script>

<script th:fragment="accounts-detail-tmpl" id="accounts-detail-tmpl" type="text/x-handlebars-template">
    <ul class="list-group mb-3 col-md-6">
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <small class="text-muted">First Name</small>
                <h6 class="my-0">{{account.firstName}}</h6>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <small class="text-muted">Last Name</small>
                <h6 class="my-0">{{account.lastName}}</h6>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <small class="text-muted">Email</small>
                <h6 class="my-0">{{account.email}}</h6>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <small class="text-muted">Password</small>
                <h6 class="my-0">{{account.password}}</h6>
            </div>
        </li>
    </ul>
    <a class="btn btn-secondary" href="#/accounts">Back</a>
</script>

</html>